$primary-color: #292929;
$secondary-color: #3D3D3D;
$tertiary-color: #525252;
$superlight-color: #F1F0EA;
$submit-color: #507C57;

h1 {
    font-family: 'Jost', sans-serif;
    font-style: italic;
}

body {
    font-family: 'Jost', sans-serif;
}

button {
    font-family: 'Jost', sans-serif;
}